<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('http://iwallpapers.free.fr/upload/2016/02/20/20160220143547-d55bd601.jpg');">
  <div class="banner-content">
    <h1>Wedding Planner</h1>
  </div>
</div>
